/bootstrap/compiled.php
/vendor
/.vagrant
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
/public/gallery
l4.share-your-gallery.sublime-project
l4.share-your-gallery.sublime-workspace
