/bootstrap/compiled.php
/vendor
.vagrant
/.vagrant
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
/public/gallery
fortabbit.yml
l4.share-your-gallery.sublime-project
l4.share-your-gallery.sublime-workspace