html {
	background-color: #efefef;
	background-image: url('images/noisy.jpg');	
}

body{font-family: "Open Sans", sans-serif;}

#wrapper{
	width: 100%;
	background-color: #efefef;
	background-image: url('images/noisy.jpg');
	color: #757575;
}

#content{margin: 60px 0;}

.navbar{padding: 0}

.navbar-default {
	background-color: #428bca;
	padding: 0px 0;
}

.navbar{margin-bottom: 0; border-radius: 0; border:0;}

.navbar-right .form-group{padding: 0;}

	.navbar-right input{height: 28px;}

.sf-menu {margin: 3px 0px 0 0;}

.sf-menu li{
	background-color: #428bca !important;	
}

	.sf-menu li a{
		color: #fff;
		border:none;
		border-radius: 10px;
	}
	
	.sf-menu li a:hover{
		background-color: #fff;
		color: #428bca;
		border-radius: 2px;
	}

	.fa-search {margin-left:-30px;}



	.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
		color: #fff;
	}

	.navbar-brand{
		font-family: "comic-sans", monaco, monospace;
		text-transform: uppercase;
		letter-spacing: -2px;
		/*word-spacing: -5px;*/
		font-size: 20px;
	}

	/*.navbar-default .navbar-nav>li>a:hover{
		background-color: #046FCC;
		border-radius: 8px;
	}*/

/*** carousel ***/
#home-carousel{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.carousel-caption{
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 0;
	left: 0;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
}

.carousel-control{
position: absolute;
top: 40%;
left: 15px;
width: 40px;
height: 40px;
margin-top: -20px;
font-size: 40px;
font-weight: 100;
line-height: 30px;
color: white;
text-align: center;
/*background-color: rgba(0,0,0,0.5);*/
}

.right-arrow{
position: absolute;
top: 40%;
left:96%;
}


/*** .container ***/
.container{
	/*margin-bottom: 40px;*/
}

/*** home ***/
.instruct {margin-top: 20px;}

/*** members.index ***/

.username {
	padding: 10px;
	margin-top: 0;
	margin-bottom: 30px;
	border: 1px solid #bce8f1;
	border-radius: 5px;
	color: #31708f;
}

	#by{font-size: 14px;}

	.count{font-size: 16px; border-radius:3000px;background-color: #428bca; padding: 2px 6px; color:#fff;}

.single-gallery{padding: 20px;}

/*.gallery-thumbnail{ color:#bce8f1; }*/

.galleries-row{
	/*border-top: 1px dotted #999;*/
	/*border-bottom: 1px dotted #999;*/
	padding: 10px 0;
}

/***login ***/
.login{margin-top: 100px;}

	.login form {border: 1px dotted  #bbb; padding: 20px; border-radius: 4px;}

/*** table ***/
td{background-color: #fff}


/*** image list (galleries.edit) ***/

.image-in-list{position:relative;}

	.delete-image{
		position: absolute;
		top: 5px;
		right: 20px;
		background: rgba(255,255,255,0.9);
		padding: 2px 4px;
		cursor: pointer;
		/*color:red;*/
	}

		.delete-image:hover{
			color:red;
		}

	.image-order{
		position: absolute;
		top: 95px;
		left: 20px;
		background: rgba(255,255,255,0.9);
		padding: 2px 4px;
	}

/*** galleries.show ***/

ul.tags li{
	list-style-type: none;
	display: inline;
	margin-left: 0;
}

/*** footer ***/

footer{
	background-color: #428bca;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
}

	footer a{color:#fff;}

/*** helper classes **/

.inline{display: inline;}

.error{ color:red;}

.placeholder { 
	background-color: #eee;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 2px;
	width:150px; 
	height:113px; 
	position: relative;
	float: left;
}

.center{text-align: center;}

.img-center{display:block; margin: 0 auto;}

.description{font-style: italic; color:#666;}

.vertical-center{position:relative; top:30%; height:240px; margin-top:-120px; /* negative half of the height */}